/* TX-02 Berkeley Mono™ Typeface
 * Copyright 2022-2026. All Rights Reserved.
 * Intellectual Property of U.S. Graphics, LLC.
 *
 * Licensed for Personal Use (Developer Font License).
 */

@font-face {
    font-family: 'TX-02';
    src: url('../fonts/TX-02-Variable.woff2') format('woff2');
    font-stretch: 60% 100%;
    font-weight: 100 900;
    font-style: oblique 0deg 16deg;
    font-display: swap;
}
